{% extends 'base.html' %}
{% block title %} Udpate Feedback {% endblock %}

{% block content %}
<h1 class="display-4 text-center text-primary">Update Feedback</h1>
<p class="lead">Update your feedback! <a href='/users/{{username}}'> User Info</a> </p>

<form method="POST">
    {{form.hidden_tag()}}
    {% for field in form 
        if field.widget.input_type != 'hidden' %}
        <p>
            {{field.label}}
            {{field(class_='form-control')}}

            {% for error in field.errors %}
            <span class='form-text text-danger'>{{error}}</span>
            {% endfor %}
        </p>
    {% endfor %}
    <button class="btn btn-success" type="submit">Submit</button>
</form>
{% endblock %}